{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <!-- Link for JavaScript function -->
    <script src="{% static 'js/qna_logic.js' %}"></script>

    <!-- Link for CSS Styling -->
    <link rel="stylesheet" href="{% static 'css/qna.css' %}">

    <!-- This functions use django syntax so it can't be placed externally -->
    <script>
        const questionCard = (data) =>
            `<div class="flex animate-slide-fwd-center" id="quest-${data.pk}">
                <div class="flex-shrink-0 mr-3">
                    <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10" src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt="">
                </div>
                <div class="flex-1 border border-merah-tua rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed bg-cream-tua">
                    <div class="flex justify-between">
                        <span class="text-xs text-gray-400 mt-0">${data.fields.date}</span>
                        <ion-icon name="trash" id="delete-icon" class="cursor-pointer" onclick="deleteQuestion(${data.pk})"></ion-icon>
                    </div>
                    <strong>${data.fields.user}</strong>
                    <p class="text-sm">${data.fields.text}</p>

                    <div class="flex-grow border-t border-black mt-4"></div>
                    <div class="flex justify-evenly items-center mt-2">
                        <div class="flex items-center justify-center">
                            {% if user.is_authenticated %}
                            <ion-icon name="heart" class="cursor-pointer w-4 h-4 mr-2" size="large" onclick="likeQuestion(${data.pk})"></ion-icon>
                            {% else %}
                            <ion-icon name="heart" class="cursor-pointer pointer-events-none w-4 h-4 mr-2" size="large" onclick="likeQuestion(${data.pk})"></ion-icon>
                            {% endif %}
                            <span id="total-likes-${data.pk}">${data.fields.total_like}</span>
                        </div>
                        <div class="flex items-center justify-center">
                            <ion-icon name="chatbox-ellipses" class="cursor-pointer w-4 h-4 mr-2" onclick="showAnswer(${data.pk})"></ion-icon>
                            <span id="total-answers-${data.pk}">${data.fields.total_answer}</span>
                        </div>
                    </div>

                    <div id="all-answers-${data.pk}" class="hidden">
                        <div class="flex-grow border-t border-black mt-2"></div>
                        <div class="flex justify-between items-center">
                            <form action="" method="POST" class="w-full">
                                {% csrf_token %}
                                {% if user.is_authenticated %}
                                {{ answer_form.text }}
                                {% else %}
                                <div class="mt-4"></div>
                                {% endif %}
                            </form>
                        
                            {% if user.is_authenticated %}
                            <button type="submit" class="ml-1 inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100" onclick="addAnswer(${data.pk})">
                                <svg aria-hidden="true" class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
                            </button>
                            {% endif %}
                        </div>
                        
                        <h6 class="text-sm p-1" id='no-answer-${data.pk}'>No answer yet.</h6>
        
                        <div class="space-y-4" id='quest-answers-${data.pk}'></div>
                    </div>
            
                </div>
            </div>`

        const answerCard = (data) =>
            `<div class="flex" id='answer-${data.pk}'>
                <div class="flex-shrink-0 mr-3">
                    <img class="mt-3 rounded-full w-6 h-6 sm:w-8 sm:h-8"
                        src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt="">
                </div>
                <div class="flex-1 bg-cream-muda rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                    <div class="flex justify-between">
                        <span class="text-xs text-gray-400">${data.fields.date}</span>
                        <ion-icon name="trash-outline" id="delete-icon" class="cursor-pointer" onclick="deleteAnswer(${data.pk})"></ion-icon>
                    </div>
                    <strong>${data.fields.user}</strong> 
                    <p class="text-xs sm:text-sm">${data.fields.text}</p>
                </div>
            </div>`
    </script>
</head>

<div class="my-10 md:ml-20 ml-2">
    <h3 class="text-xl font-semibold text-gray-900">TanyaBund</h3>
    {% if user_type == 'bumil' %}
    <p class="mt-3">Sedang memikirkan apa Bunda? Yuk, beritahu yang lain~</p>
    {% endif %}
    {% if user_type == 'faskes' %}
    <p class="mt-3">Semangat para faskes dalam melakukan kebaikan!</p>
    {% endif %}
    {% if user_type == 'non_login' %}
    <p class="mt-3">Belum login? Login untuk menambahkan dan menjawab pertanyaan.</p>
    {% endif %}
</div>

<div class="antialiased mx-auto my-2 max-w-screen-md">
    {% if not user_type == 'non_login' %}
    <div>
        <div class="mt-2">
            <form action="" method="POST" class="">
                {% csrf_token %}
                {{ question_form.text }}
            </form>
        </div>
        <div class="flex items-center justify-end">
            <button id="add-questions" type="button" class="bg-merah-tua w-fit text-white p-2 rounded-lg flex items-center justify-center mt-3 mb-10">
                Tambah
            </button>
        </div>
    </div>
    {% endif %}
    <div class="space-y-4 mb-3" id="quest"></div>
</div>

<div class="position-fixed top-20 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide bg-merah-muda" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-merah-tua">
        <svg class="flex-shrink-0 w-5 h-5 text-red-700" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <strong class="me-auto text-white ml-2">Alert!</strong>
      <small class="text-white">Just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-white">
      Kamu tidak dapat menghapust post orang lain.
    </div>
  </div>
</div>

<div class="position-fixed top-20 end-0 p-3" style="z-index: 11">
  <div id="liveToast2" class="toast hide bg-cream-muda" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-cream-tua">
        <svg class="flex-shrink-0 w-5 h-5 text-black" fill="black" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <strong class="me-auto text-black ml-2">Success!</strong>
      <small class="text-black">Just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-black">
      Pertanyaan berhasil ditambahkan.
    </div>
  </div>
</div>
{% endblock content %}