{% extends 'base.html' %} {% load static %}

{% block meta %}

<script>
function editInfo(id) {
    $.post(
        `/periksa/edit/${id}`,
        {
        lokasi: $(`#id_lokasi`).val(),
        tanggal: $(`#id_tanggal`).val(),
        waktu: $(`#id_waktu`).val(),
        kapasitas_balita: $(`#id_kapasitas_balita`).val(),
        },
        function (data, status) {
        console.log("edit ")
        if (status == 'success') {
            $(`#lokasi-${id}`).val(`${data.fields.lokasi}`)
            $(`#tanggal-${id}`).val(`${data.fields.tanggal}`)
            $(`#waktu-${id}`).val(`${data.fields.waktu}`)
            $(`#kapasitas_balita-${id}`).val(`${data.fields.kapasitas_balita}`)
        }
        },
    )
    }
</script>

<script>
    $(document).ready(function(){
    let myId = $('.buat-get-id').val();
    $('#editInfo').attr('onClick', 'editInfo(myId)');
    })
</script>

{% endblock meta %}

{% block content %}

<!-- CSS Stylesheet -->
<link 
    rel="stylesheet" 
    href="{% static '/css/style.css' %}" />
</link>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<!-- jQuery -->
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
></script>

<!-- Custom JS -->
<script 
    src="{% static '/js/function.js' %}" 
    defer
></script>

<script 
    src="{% static 'js/notes_page.js' %}"
></script>

<script 
    type="text/javascript"
    src="{% static '/js/csrf.js' %}" 
    defer
></script>

<style>
    h3 {
        margin-left:575px;
        margin-top:35px;
    }
</style>

<!-- Modal Untuk Add-->
<div class="modal fade" id="addNotesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Lokasi Posyandu & Vaksinasi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if user.is_authenticated %}
            <form id="note-form" class="text-center">

                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            
                            <p>{{ field.label_tag }} <br> {{ field }}</p>
                        </div>
                    {% endfor %}
                    <div class="modal-footer">
                        <button type="button" class="bg-merah-muda w-fit text-white p-2 font-bold rounded-lg flex items-center justify-center" data-bs-dismiss="modal">Tutup</button>
                        <button type="submit" id= "add_info" class="bg-cream-tua w-fit text-white p-2 font-bold rounded-lg flex items-center justify-center">Unggah</button>
                    </div>
            {% else %}
                <p>Login untuk menambahkan!</p>
                <button type="button" class="bg-merah-muda w-fit text-white p-2" id="login-now"><a
                    href="{% url 'login:login_user' %}">Login</a></button>
            {% endif %}

            </form>
        </div>
      </div>
    </div>
</div>

<!-- Modal Untuk Edit-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Info</h5>
        </div>
        <form id="note-form" class="text-center">
            <div class="modal-body">

                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            
                            <p>{{ field.label_tag }} <br> {{ field }}</p>
                        </div>
                    {% endfor %}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                        <button type="submit" class="btn btn-primary" id="editInfo" >Simpan Perubahan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Container -->
<div class="container z-index-3 my-8">
    <div id="spinner-box">
        <div id="spinner-border" class="not-visible" role="status">
        </div>
    </div>

    <div id="alert-box">
    
    </div>

    <h3 class="mb-4 text-lg font-semibold text-gray-900">PeriksaBund</h3>
    <p>Halaman Administrator Fasilitas Kesehatan</p>
    <br>
    <button type="button" class="hover:text-lg duration-500  bg-merah-tua w-fit text-white p-2 font-bold rounded-lg flex items-center justify-center" data-bs-toggle="modal" data-bs-target="#addNotesModal">
        Tambah Lokasi
    </button>

    <br>

    <div class="container row">

        <table class="table table-bordered">
            <tr>
            <th class="bg-cream-tua">Lokasi</th>
            <th class="bg-cream-tua">Tanggal</th>
            <th class="bg-cream-tua">Waktu</th>
            <th class="bg-cream-tua">Kapasitas Balita</th>
            <th class="bg-cream-tua"></th>
            <th class="bg-cream-tua"></th>
            </tr>
            
        </table>

    </div>
</div>

{% endblock %}
