.not-visible {
    display: none;
}

.left {
    text-align: left;
}


h3 {
    margin-left:575px;
    margin-top:35px;
}

p {
    margin-left: 470px;  
    }

p3 {
    margin: 35px;
    margin-left: 595px;
    }

