{% extends 'base.html' %}

{% block meta %}
<title>To Do List</title>

{% endblock meta %}

{% block content %}

<style>
  body {
    background-color: rgb(154, 0, 0);
  }

  .card {
    background-color: rgb(194, 21, 128);
  }
</style>

<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>\
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script>
    function editCard(id) {
      console.log("================ edit function");
        $.post(
          `/catatbund/edit/${id}`,
          {
            weight: $(`#input-weight-${id}`).val(),
            height: $(`#input-height-${id}`).val(),
          },
          function (data, status) {
            console.log("edit ")
            if (status == 'success') {
              console.log("edit 33")
              $(`#weight-${id}`).text(`Berat badan(kg): ${data.fields.weight}`)
              $(`#height-${id}`).text(`Tinggi badan(m): ${data.fields.height}`)
              $(`#bmi-${id}`).text(`BMI: ${data.fields.bmi}`)
            }
          },
        )
      }
    $(document).ready(function () {
      //ini kan buat nampilin data yang dulu udh ada gt kn
      $.get("/catatbund/json/", function (data) {
        console.log(data)
        for (i = 0; i < data.length; i++) {
          $(".row").append(`<div class="flex justify-center">
            <div class="block p-4 rounded-lg shadow-lg bg-white max-w-sm">
                <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Tanggal: ${data[i].fields.date}</h5>
                <p class="text-gray-700 text-base mb-4" mb-4" id="weight-${data[i].pk}">Berat badan(kg): ${data[i].fields.weight}</p>
                <p class="text-gray-700 text-base mb-4" mb-4" id="height-${data[i].pk}">Tinggi badan(m): ${data[i].fields.height}</p>
                <p class="text-gray-700 text-base mb-4" mb-4" id="bmi-${data[i].pk}">BMI: ${data[i].fields.bmi}</p>
                <button id="edit-btn" data-bs-toggle="modal" data-bs-target="#modal-${data[i].pk}" type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Edit</button>
                </div>
            </div>
            
            <div class="modal fade" id="modal-${data[i].pk}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Barang</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- di dalam modal-body terdapat 4 form input yang berisi data.
                    data-data tersebut ditampilkan sama seperti menampilkan data pada tabel. -->
                    <div class="modal-body">
                        <form id="#input-form[${data[i].pk}">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Berat badan(kg):</label>
                                <input type="text" class="form-control" id="input-weight-${data[i].pk}" value="${data[i].fields.weight}">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Tinggi badan(m):</label>
                                <input type="text" class="form-control" id="input-height-${data[i].pk}" value="${data[i].fields.height}">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="save-btn-${data[i].pk}" onClick="editCard(${data[i].pk})" data-bs-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>`)
        }
      });

      $("#unggah-btn").click(function () {
        $.post("/catatbund/add/",
          $('#input-form').serialize(),
          function (res, status) {
            if(res.status == "error") {
              console.log("hahahahaah")
              alert("isi dengan benar")
            } else {
            $(".row").append(`<div class="flex justify-center">
            <div class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Tanggal: ${res.fields.date}</h5>
                <p class="text-gray-700 text-base mb-4" mb-4" id="weight-${res.pk}">Berat badan(kg): ${res.fields.weight}</p>
                <p class="text-gray-700 text-base mb-4" mb-4" id="height-${res.pk}">Tinggi badan(m): ${res.fields.height}</p>
                <p class="text-gray-700 text-base mb-4" mb-4" id="bmi-${res.pk}">BMI: ${res.fields.bmi}</p>
                <button id="edit-btn" data-bs-toggle="modal" data-bs-target="#modal-${res.pk}" type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Edit</button>
                </div>
            </div>
            
            <div class="modal fade" id="modal-${res.pk}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- di dalam modal-body terdapat 4 form input yang berisi data.
                    data-data tersebut ditampilkan sama seperti menampilkan data pada tabel. -->
                    <div class="modal-body">
                        <form id="#input-form[${res.pk}">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Berat badan(kg):</label>
                                <input type="text" id="input-weight-${res.pk}" class="form-control" value="${res.fields.weight}">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Tinggi badan(m):</label>
                                <input type="text" id="input-height-${res.pk}" class="form-control" value="${res.fields.height}">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="save-btn-${res.pk}" onClick="editCard(${res.pk})" data-bs-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>`)
        $('#weight').val('')
        $('#height').val('')
      }
          })
      });

    });
  </script>
</head>

<body>
  <div class = "px-4 sm:px-8 md:px-16">
    <div class = "d-flex justify-content-between">
      <h5 class = "text-3xl font-bold text-black py-4">Halow, {{user}}!</h5>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
  data-bs-whatever="@mdo">Tambah Catatan</button>
    </div>
    <div class = "grid md:grid-cols-2 lg:grid-cols-3 w-full gap-5 mt-8 sm:mt-5">
  </div>
  
  <div class="row p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-2">
    
  </div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Catatan</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="input-form">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Berat Badan(kg):</label>
              <br>
              {{ form.weight }}
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Tinggi Badan(m):</label>
              {{ form.height }}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="unggah-btn" data-bs-dismiss="modal">Unggah</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- ?????????????????????????????????????????????????????????????????????????????? -->
  <!-- membuat tombol dengan ukuran small berwarna biru  -->
  <!-- data-target setiap modal harus berbeda, karena akan menampilkan data yang berbeda pula
    caranya membedakannya, gunakan id_barang sebagai pembeda data-target di setiap modal -->
    
    <!-- untuk melihat bentuk-bentuk modal kalian bisa mengunjungi laman bootstrap dan cari modal di kotak pencariannya -->
    <!-- id setiap modal juga harus berbeda, cara membedakannya dengan menggunakan id_barang -->
    
    
    
    <a href="{% url 'catatbund:logout' %}"><button class="button-logout">Logout</button></a>
  </body>
  {% endblock content %}