{% extends 'base.html' %} 
{% block content %}
<div>
    <div>
        <div>
            <h2>Teman Bunda Dalam Menemani Si Kecil!</h2>
            <p>HaloBund merupakan sebuah website yang membantu ribuan Ibu di seluruh Indonesia 
            mengenai pengetahuan motherhood dan juga mengedukasi kesehatan Ibu & Anak di Indonesia 
            yang menyediakan artikel-artikel mengenai pengetahuan keibuan dan forum pertanyaan & informasi 
            terkait kehamilan dan tumbuh-kembang anak dengan dokter spesialis, perawat, atau Ibu lainnya
            </p>
            <button type="button">
                Lihat Selengkapnya
            </button>
            <div>
                <span></span>
                <p>Trusted in more than 45+ cities and 10+ companies in providing their IT & Business needs!</p>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div>

    </div>
</div>

{% endblock content %}
