{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>DiaryBund</title>
{% endblock meta %}

{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script type= "text/javascript" href="{% static 'js/diary.js' %}"></script>
  <script>
    function editDiary(id) {
        $.post(`/diarybund/edit/${id}`,
          {
            title : $(`#title--${id}`).val(), 
            description : $(`#description--${id}`).val(), 
            abstract : $(`#abstract--${id}`).val(), 
            emotion : $(`#emotion--${id}`).val()
          },
          function (data, status) {
            if (status == 'success') {
              $(`#${id}--title`).text(`${data.fields.title}`)
              $(`#${id}--abstract`).text(`${data.fields.abstract}`)
              $(`#${id}--description`).text(`${data.fields.description}`)
              if (data.fields.emotion == 1) {
                $(`#${id}--emotion`).text(`Senang`)
              } else if (data.fields.emotion == 2) {
                $(`#${id}--emotion`).text(`Biasa`)
              } else if (data.fields.emotion == 3) {
                $(`#${id}--emotion`).text(`Sedih`)
              } else {
                $(`#${id}--emotion`).text(`Marah`)
              }
            }
          },
        )
      }

    $(document).ready(function(){
      let context = "{{user_type}}";
      if (context != "bumil") {
        $("#tulisDiary").hide();
      } else {
        $.get( "/diarybund/json/", function( data ) {
          console.log(data)
          for (let i = 0; i < data.length; i++) {
            $('#diarybund').append(
              `<div id = "${data[i].pk}--tugas" class = "rounded-lg pl-10 pr-6 py-5 bg-white shadow-md hover:shadow-xl">
                <div>
                  <h1 class = "font-semibold text-grey text-sm">${data[i].fields.date}</h1>
                  <h1 id = "${data[i].pk}--title" class = "text-lg font-bold">${data[i].fields.title}</h1>
                  <p id = "${data[i].pk}--abstract" class="text-gray-700 text-base mb-4">
                    ${data[i].fields.abstract}
                  </p>
                </div>
        
                <div class="flex justify-between">
                  ${data[i].fields.emotion == 1 ?
                      `<span id = "${data[i].pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Senang</span>` :
                      ``
                  }
                  ${data[i].fields.emotion == 2 ?
                      `<span id = "${data[i].pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Biasa</span>` :
                      ``
                  }
                  ${data[i].fields.emotion == 3 ?
                      `<span id = "${data[i].pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Sedih</span>` :
                      ``
                  }
                  ${data[i].fields.emotion == 4 ?
                      `<span id = "${data[i].pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Marah</span>` :
                      ``
                  }
                  <div>
                    <td><button id="baca" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" data-bs-toggle="modal" data-bs-target="#modalBaca--${data[i].pk}">Baca</button></td>
                    <td><button id="edit" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" data-bs-toggle="modal" data-bs-target="#modalUbah--${data[i].pk}">Edit</button></td>
                    <td><button class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" onclick="hapusTugas(${data[i].pk})"><i class="bi bi-trash-fill"></i>Hapus</button></td>
                  </div>
                </div>
              </div>
              
              <div class="modal fade" id="modalBaca--${data[i].pk}" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class = "font-semibold text-grey text-sm">${data[i].fields.date}</h1>
                      <h5 id = "${data[i].pk}--title" class="modal-title text-black font-bold" id="createTaskModalLabel">${data[i].fields.title}</h5>
                      <div class="flex justify-between">
                        ${data[i].fields.emotion == 1 ?
                            `<span id = "${data[i].pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Senang</span>` :
                            ``
                        }
                        ${data[i].fields.emotion == 2 ?
                            `<span id = "${data[i].pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Biasa</span>` :
                            ``
                        }
                        ${data[i].fields.emotion == 3 ?
                            `<span id = "${data[i].pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Sedih</span>` :
                            ``
                        }
                        ${data[i].fields.emotion == 4 ?
                            `<span id = "${data[i].pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Marah</span>` :
                            ``
                        }
                      </div>
                    </div>
                    <div class="modal-body">
                      <p id = "${data[i].pk}--abstract" class="text-gray-700 text-base mb-4">
                        ${data[i].fields.abstract}
                      </p>
  
                      <p id = "${data[i].pk}--description" class="text-black text-base mb-4">
                        ${data[i].fields.description}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="modal fade" id="modalUbah--${data[i].pk}" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-black font-bold" id="createTaskModalLabel">Tambah Diary</h5>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="title" class="col-form-label">Judul:</label>
                          <input type="text" class="form-control" id="title--${data[i].pk}" value="${data[i].fields.title}">
                        </div>
                        <div class="mb-3">
                          <label for="abstract" class="col-form-label">Deskripsi Singkat:</label>
                          <input type="text" class="form-control" id="abstract--${data[i].pk}" value="${data[i].fields.abstract}">
                        </div>
                        <div class="mb-3">
                          <label for="description" class="col-form-label">Deskripsi Lengkap:</label>
                          <textarea class="form-control" id="description--${data[i].pk}">${data[i].fields.description}</textarea>
                        </div>
                        <div class="mb-3">
                          <label for="emotion">Emosi Si Kecil:</label>
                          <select name="emotion" id="emotion--${data[i].pk}" value="${data[i].fields.emotion}" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                            <option value="1">Senang</option>
                            <option value="2">Biasa</option>
                            <option value="3">Sedih</option>
                            <option value="4">Marah</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" data-bs-dismiss="modal">Cancel</button>
                      <button id="tambah" type="button" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" onClick="editDiary(${data[i].pk})" data-bs-dismiss="modal">Simpan</button>
                    </div>
                  </div>
                </div>
              </div>`
            );
          }
        });
  
        $("#tambah").click(function(){
          $.post( "/diarybund/create-ajax/", 
          {
            title : $("#title").val(), 
            description : $("#description").val(), 
            abstract : $("#abstract").val(), 
            emotion : $("#emotion").val()
          }, 
          function(data, status) {
            if (status == "success") {
              $('#diarybund').append(
                `<div id = "${data.pk}--tugas" class = "rounded-lg pl-10 pr-6 py-5 bg-white shadow-md hover:shadow-xl">
                  <div>
                    <h1 class = "font-semibold text-grey text-sm">${data.fields.date}</h1>
                    <h1 id = "${data.pk}--title" class = "text-lg font-bold">${data.fields.title}</h1>
                    <p id = "${data.pk}--abstract" class="text-gray-700 text-base mb-4">
                      ${data.fields.abstract}
                    </p>
                  </div>
          
                  <div class="flex justify-between">
                    ${data.fields.emotion == 1 ?
                        `<span id = "${data.pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Senang</span>` :
                        ``
                    }
                    ${data.fields.emotion == 2 ?
                        `<span id = "${data.pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Biasa</span>` :
                        ``
                    }
                    ${data.fields.emotion == 3 ?
                        `<span id = "${data.pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Sedih</span>` :
                        ``
                    }
                    ${data.fields.emotion == 4 ?
                        `<span id = "${data.pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Marah</span>` :
                        ``
                    }
                    <div>
                      <td><button id="baca" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" data-bs-toggle="modal" data-bs-target="#modalBaca--${data.pk}">Baca</button></td>
                      <td><button id="edit" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" data-bs-toggle="modal" data-bs-target="#modalUbah--${data.pk}">Edit</button></td>
                      <td><button class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" onclick="hapusTugas(${data.pk})"><i class="bi bi-trash-fill"></i>Hapus</button></td>
                    </div>
                  </div>
                </div>
                
                <!-- Modal Baca Selengkapnya -->
                <div class="modal fade" id="modalBaca--${data.pk}" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class = "font-semibold text-grey text-sm">${data.fields.date}</h1>
                        <h5 id = "${data.pk}--title" class="modal-title text-black font-bold" id="createTaskModalLabel">${data.fields.title}</h5>
                        <div class="flex justify-between">
                          ${data.fields.emotion == 1 ?
                              `<span id = "${data.pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Senang</span>` :
                              ``
                          }
                          ${data.fields.emotion == 2 ?
                              `<span id = "${data.pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Biasa</span>` :
                              ``
                          }
                          ${data.fields.emotion == 3 ?
                              `<span id = "${data.pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Sedih</span>` :
                              ``
                          }
                          ${data.fields.emotion == 4 ?
                              `<span id = "${data.pk}--emotion" class = "text-sm sm:text-md bg-black text-white py-2 px-3 sm: px-3 rounded-full">Marah</span>` :
                              ``
                          }
                        </div>
                      </div>
                      <div class="modal-body">
                        <p id = "${data.pk}--abstract" class="text-gray-700 text-base mb-4">
                          ${data.fields.abstract}
                        </p>
  
                        <p id = "${data.pk}--description" class="text-black text-base mb-4">
                          ${data.fields.description}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="modal fade" id="modalUbah--${data.pk}" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-black font-bold" id="createTaskModalLabel">Tambah Diary</h5>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="mb-3">
                            <label for="title" class="col-form-label">Judul:</label>
                            <input type="text" class="form-control" id="title--${data.pk}" value="${data.fields.title}">
                          </div>
                          <div class="mb-3">
                            <label for="abstract" class="col-form-label">Deskripsi Singkat:</label>
                            <input type="text" class="form-control" id="abstract--${data.pk}" value="${data.fields.abstract}">
                          </div>
                          <div class="mb-3">
                            <label for="description" class="col-form-label">Deskripsi Lengkap:</label>
                            <textarea class="form-control" id="description--${data.pk}">${data.fields.description}</textarea>
                          </div>
                          <div class="mb-3">
                            <label for="emotion">Emosi Si Kecil:</label>
                            <select name="emotion" id="emotion--${data.pk}" value="${data.fields.emotion}" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                              <option value="1">Senang</option>
                              <option value="2">Biasa</option>
                              <option value="3">Sedih</option>
                              <option value="4">Marah</option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" data-bs-dismiss="modal">Cancel</button>
                        <button id="tambah" type="button" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" onClick="editDiary(${data.pk})" data-bs-dismiss="modal">Simpan</button>
                      </div>
                    </div>
                  </div>
                </div>`
              )
              $('#title').val('')
              $('#description').val('')
              $('#abstract').val('')
            }
          })
        })
  
        hapusTugas = (idTugas) => {
          $.ajax({
            url: `/diarybund/delete/${idTugas}`,
            type: 'DELETE',
            success: function(response){
              $(`#${idTugas}--tugas`).remove()
            }
          })
        }
      }
    });
  </script>
</head>
<body class = "text-black">
  <div class = "px-4 sm:px-8 md:px-16">
    <div class = "d-flex justify-content-between">
      <h5 class = "text-3xl font-bold text-black py-4">Halow, {{user.get_username}}!</h5>
      <button id="tulisDiary" class="btn btn-secondary rounded" data-bs-toggle="modal" data-bs-target="#modalTambah">Tulis Diary</button>
    </div>
    <div class = "grid md:grid-cols-2 lg:grid-cols-3 w-full gap-5 mt-8 sm:mt-5" id = "diarybund">
  </div>

  <!-- Modal Tambah -->
  <div class="modal fade" id="modalTambah" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black font-bold" id="createTaskModalLabel">Tambah Diary</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="title" class="col-form-label">Judul:</label>
              {{ form.title }}
            </div>
            <div class="mb-3">
              <label for="abstract" class="col-form-label">Deskripsi Singkat:</label>
              {{ form.abstract }}
            </div>
            <div class="mb-3">
              <label for="description" class="col-form-label">Deskripsi Lengkap:</label>
              {{ form.description }}
            </div>
            <div class="mb-3">
              <label for="emotion">Emosi Si Kecil:</label>
              <select name="emotion" id="emotion" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                <option value="1">Senang</option>
                <option value="2">Biasa</option>
                <option value="3">Sedih</option>
                <option value="4">Marah</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" data-bs-dismiss="modal">Cancel</button>
          <button id="tambah" type="button" class="text-sm sm:text-md bg-transparent hover:bg-light_blue text-blue font-semibold hover:text-blue py-2 px-3 border border-blue hover:border-blue rounded" data-bs-dismiss="modal">Tambah</button>
        </div>
      </div>
    </div>
  </div>
</body>
<br>
<h5 class = "flex justify-center border-b">Sesi Terakhir Log In: {{ last_login }}</h5>
{% endblock content %}